@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

/*
https://coolors.co/a40e4c-2c2c54-acc3a6-f5d6ba-f49d6e
https://coolors.co/89023e-cc7178-ffd9da-f3e1dd-c7d9b7
https://coolors.co/f2545b-a93f55-19323c-f3f7f0-8c5e58
*/

:root {
  --primary-color: /*#A93F55;*/ #e6e6e6;
  --accent-color: #A93F55;
  --background-color: #181818;

  --white: var(--primary-color);
  --black: var(--background-color);

  --fancy-font: 'Arizonia';
  --basic-font: 'Cabin', sans-serif;
}

.screen {
  position: fixed;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: max-content auto;
  overflow: hidden;
}

/*
  Header
*/
header {
  display: grid;

  grid-template-columns: 1fr max-content 1fr;
  gap: 1rem;

  color: var(--primary-color);
  font-family: var(--fancy-font);
  font-weight: bold;
  font-size: 40pt;
  
  text-align: center;
  justify-content: center;
  align-items: center;
}

.header-button-row {
  display: grid;
  grid-template-columns: max-content 1.5rem max-content max-content;
  gap: 0.2rem;
  justify-content: right;
  align-items: center;
  margin-right: 1rem;
}

/*Body*/

.body-grid {
  display: grid;
  height: 100%;
  grid-template-rows: max-content auto max-content;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--basic-font);
  background-color: var(--background-color);

}

.player-row {
  width: 100%;
  display: flex;
  overflow: auto;
}

.player-row-entry {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  gap: 1rem;

  padding: 0 1rem 0 0;

  width: 100%;
  align-items: center;

  text-transform: uppercase;
  text-align: center;

  letter-spacing: 0.1rem;
  font-weight: 700;
  font-family: var(--basic-font);
}

.player-row-entry-text {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.player-row-entry-score {
  display: flex;
  background-color: #0000005b;
  padding: 0.8rem 0.5rem;
  width: max-content;
  height: 100%;
  align-items: center;

  font-weight: 700;
}

.board-square {
  overflow: visible;
  border: 0.1rem var(--primary-color);
}

.board-sqaure-inner {
  display: grid;
  grid-template-rows: max-content 1fr 1fr;
  border: solid 0.01rem #FFFFFF57;
  background-color: var(--background-color);
  color: var(--primary-color);
  height: 100%;
  width: 100%;
}

.board-sqaure-content {
  padding: 0.2rem;
  display: grid;
  grid-template-columns:  auto max-content;
}

.board-sqaure-player-row {
  display: flex;
  overflow: auto;
  height: 100%;
}

.card-player {
  padding: 0.25rem 0.1rem 0.1rem 0.1rem;
  color: var(--background-color);
  height: 100%;
  width: 20%;
}

.board-wrapper {
  display: block;
  height: 100%;
}

.board {
  background-color: var(--background-color);
  justify-content: left;
  transform-origin: left top;
  align-content: stretch;
  height: 100%;
}

.game-view-grid{
  display: grid;
  grid-template-columns: auto max-content 1fr auto;
  gap: 1rem;
  padding: 2rem;
}

.game-view-grid-boardless{
  display: grid;
  grid-template-columns: auto max-content 0 auto;
  gap: 1rem;
  padding: 2rem;
}

.control-view {
  display: grid;
  grid-template-rows: max-content 5fr max-content;
  gap: 1rem;
  height: 100%;
  width: 55rem;
  text-align: center;
}

.control-view-headline{
  display: grid;
  grid-template-columns: 1fr max-content 1fr;

  
  text-transform: uppercase;

  font-size: 30pt;
  font-weight: 700;

  padding: 2rem 2rem 0 2rem;
  
}

.control-view-headline-dice {
  text-align: right;
}

.control-view-headline-icon {
  text-align: left;
}

.control-view-body{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20pt;
  padding: 0rem 2rem;
}
.control-view-options{
  display: flex;
  height: 5rem;

}
.control-view-option{
  width: 100%;
  height: 100%;
  font-size: 20pt;
  background-color: #00000077;
  padding: 1rem 0.2rem 0 0.2rem;
  overflow: auto 
}

/*Button*/
.button {
  display: inline-block;
  cursor: pointer;
}

.button:hover {
  opacity: 0.7;
}

.button:active {
  transform: scale(0.9, 0.9);
}

.button-padding {
  padding: 4px
}

.overlay {
  position: fixed;
  display: none;
  top: 1rem;
  right: 1rem;
  background-color: var(--background-color);
  color: var(--primary-color);
  z-index: 2;
  border: solid 1px var(--white);
  padding: 0.5rem;
}

.form {
  font-size: 16pt;

}

.form-control {
  margin: 0.3rem;
}

.form-control label {
  font-weight: bold;
  margin: 0.3rem;
}

.form-control input {
  width: 100%;
  height: 2.5rem;
  border: solid 0.01rem var(--primary-color);
  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: var(--basic-font), sans-serif;
  font-weight: bold;
  margin: 0.3rem;
}

.form-control select {
  width: 100%;
  height: 2.5rem;
  border: solid 0.01rem var(--primary-color);
  font-family: var(--basic-font), sans-serif;
  color: var(--primary-color);
  background-color: var(--background-color);
  margin: 0.3rem;
}

.close-btn {
  position: absolute;
  top: 4px;
  right: 4px;
}

@media screen and (max-width: 1100px) {
  header {
    grid-template-columns: 0 max-content 1fr;
    font-size: 30pt;
  }

  .header-button-row {
    grid-template-columns: 1.5rem max-content max-content;
  }

  .board-wrapper {
    display: none;
  }

  .disappear-on-small {
    display: none;
  }

  .game-view-grid{
    gap: 0;
    grid-template-columns: 0 1fr 0 0;
  }

  .game-view-grid-boardless{
    gap: 0;
    grid-template-columns: 0 1fr 0 0;
  }

  .control-view{
    width: 100%;
  }


}